<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", "data-turbo-track": "reload" %>

</head>

<body>
<%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <%= javascript_include_tag "application", "https://code.jquery.com/jquery-3.5.1.slim.min.js", "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", "data-turbo-track": "reload" %>

  <%= yield %>
</body>
</html>
