<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Set background image dynamically -->

  <style>
    body {
        background-image: url('<%= asset_path('alpha.jpeg') %>');
    }
</style>

</head>

<body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>

  <%= yield %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
